*
body {
    font-family: Arial, sans-serif;
    background-color:#008080;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color:  rgb(1, 47, 47);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 8px;
}

button:hover {
    background-color: #000;
    color: #fff;
}

.logo {
    max-width: 100px;
    margin-bottom: 16px;
}

.title {
    font-size: 1.5em;
    margin-bottom: 16px;
}
.msg{
    position: relative;
    margin: 0px 0px 0px 0px;  
}

.error{
    color:red;
    font-weight: bold;
    text-align: center;
}

.good{
    color:green;
    font-weight: bold;
    text-align: center;
}